@if (_links is null) { }
else
{
    <table>
        <thead>
            <tr>
                <th align="right"></th>
                <th align="center"></th>
                <th align="left"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in _links)
            {
                <tr>
                    @if (link.TitleLink is null)
                    {
                        <td align="right"><code class="title">@link.Title</code></td>
                    }
                    else
                    {
                        <td align="right"><a href="@link.TitleLink"><code class="title" @onclick="@(async _=> await TriggerClick())">@link.Title</code></a></td>
                    }
                    @if (link.Port is null)
                    {
                        <td align="center"><code>-----</code></td>
                    }
                    else
                    {
                        <td align="center"><code class="clickable" @onclick="@(async _ => await CopyToClipboardAsync(link.Port))">@link.Port</code></td>
                    }
                    <td align="left"><code class="clickable url" @onclick="@(async _ => await CopyToClipboardAsync(link.Url))">@link.Url</code></td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <p>
        @foreach (var ns in _namespaces)
        {
            <code class="clickable" @onclick="@(async _ => await CopyToClipboardAsync(ns))">@ns</code>
            <br />
        }
    </p>
}