<div class="button-row">
    @foreach (var profile in _steamProfiles.Profiles)
    {
        <div id="profile-@(profile.SteamId)" class="square-btn profile-box profile-@(profile.StatusTitle)" title="@(profile.GameTitle ?? profile.Name)">
            <div id="@(profile.SteamId)-avatar" class="icon-container profile-image"><img src="@profile.Avatar" /></div>
            <div id="@(profile.SteamId)-title" class="title-container profile-@(profile.StatusTitle)">@profile.Name</div>
        </div>
    }
</div>